body{
    background:#222;
    margin:0;
}

html * {
    box-sizing:border-box;
}

h2{    
    font-family: "Neue Helvetica W01",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 8px;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 8px;
}
.sticky-nav {
    box-sizing:border-box;
  position: sticky;
  position: -webkit-sticky;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 15px;
  z-index: 999;
  background: white;
  top: 0;
  white-space: nowrap;
  width:100%;
  overflow-x:scroll;
  overflow-y:hidden;
  -webkit-overflow-scrolling: touch;
}

.sticky-nav.sticky {
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

.sub-dub {
  display:inline-block;
  width:100%;
  position:relative;
}
.sticky-nav .nav-item {
    background: none;
    border: 1px solid #dcdcdc;;
    border-radius: 25px;
    color: #666;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 4px;
    font-size: 16px;
    outline:none;
    cursor: pointer;
  z-index: 9999999999;
}

.sticky-nav .nav-item.active {
    background: none;
    border: 1px solid #2374B9;
    border-radius: 25px;
  color: #2374B9;
}

main{
  width: 100vw;
  max-width:768px;
  background:white;
  margin:0 auto;

}
.row {margin:0}
.select-list {margin-left:15px;}
.spill h1 {
    line-height: 1.3em;
    margin-left: 14px;
    margin-bottom:0;
}

.spill .product-info .button-add-to-favorites .favorites-text {
    display: none;
}
.spill .product .product-info span {
    display: block;
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
    float: left;
  color:black;
}
.spill {
    width: 100%
}
.spill .search-correct.search-correct-sli {
    margin: 25px 0 0 0
}
.spill .search-correct.search-correct-sli #totalSearchResults {
    font-size: 12px
}
.spill .search-correct.search-correct-sli p {
    font-size: 12.6px;
    margin: 0
}
.spill .search-correct.search-correct-sli h1 {
    padding-top: 0;
    text-transform: capitalize
}
.spill h1 {
    font-family: "Neue Helvetica W01",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 1.6em
}
.spill .search-suggestions label {
    font-size: 13px;
    font-weight: 500;
    color: #444
}
.spill .search-suggestions ul {
    font-size: 0;
    color: #222
}
.spill .search-suggestions ul li {
    font-size: 13px;
    font-weight: normal;
    color: #444;
    border-bottom: none;
    margin: 0 5px
}
.spill .search-suggestions ul li a:hover {
    text-decoration: none
}
.spill .sort-and-filter {
    border-color: #666;
    color: #222
}
.spill .test-a .selected-count {
    color: #222
}
.spill .test-a .sort-and-filter {
    border-color: #666;
    color: #222;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 18px!important
}
.spill .test-b .selected-count {
    color: #222
}
.spill .test-b .sort-and-filter .sort-by {
    border-color: #666
}
.spill .test-b .sort-and-filter .sort-by:before {
    content: '';
    border-color: #444
}
.spill .test-b .sort-and-filter .filter-by {
    border-color: #666;
    color: #222
}
.spill .test-b .sort-and-filter .sort-dropdown {
    border-color: #666
}
.spill .mobile-select {
    z-index: 100;
    position: relative;
    background-color: transparent;
    margin-bottom: 5px
}

.spill .row [class*="col-xs-6"] {
    border-top: 2px solid #e7e7e7;
    border-left: none;
}
.spill .row [class*="col-xs-6"] .regPrice,.spill .row [class*="col-xs-6"] .salePrice {
    font-size: 11px!important
}
.spill .row [class*="col-xs-6"]:nth-child(odd) {
    padding-right: 1.1em;
    border-right: .075em solid #fff
}
.spill .row [class*="col-xs-6"]:nth-child(odd) .product-miniset+.empty-icon-favorites,.spill .row [class*="col-xs-6"]:nth-child(odd) .product-miniset+.icon-favorites {
    right: 15px
}
.spill .row [class*="col-xs-6"]:nth-of-type(2),.spill .row [class*="col-xs-6"]:nth-of-type(1) {
    border-top: none
}
.spill .row [class*="col-xs-12"] {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 1.3em
}
.spill .row [class*="col-xs-12"]:last-of-type {
    border-bottom: none
}
.spill .product .product-thumb:first-child {
    margin: 1em 0 .75em 0
}
.spill .product .product-info {
    padding: 0 0 .5em 0
}
.spill .product .product-info span {
    margin-bottom: 0;
    width: 100%;
    padding-right: 25px;
    box-sizing: border-box;
    float: left;
    font: 12px/16px "Neue Helvetica W01",Helvetica,Arial,sans-serif
}
.spill .product .spill-fabric-swatch+.product-info .icon-favorites,.spill .product .spill-fabric-swatch+.product-info .empty-icon-favorites {
    top: -20px
}
.spill .product.product-miniset+.empty-icon-favorites,.spill .product.product-miniset+.icon-favorites {
    top: 195px
}
.spill .section-related-searches li {
    margin: .8em 0
}
.spill .section-related-searches li a {
    color: #000
}
.spill.spill-search-empty {
    font-family: "Neue Helvetica W01",Helvetica,Arial,sans-serif
}
.spill.spill-search-empty .top-section-container {
    background-color: #f0efed
}
.spill.spill-search-empty .top-section-container h1 {
    color: #666;
    font: 100 24px/32px "Neue Helvetica W01",Helvetica,Arial,sans-serif;
    padding-bottom: 10px
}
.spill.spill-search-empty .top-section-container .search-term {
    color: #666;
    margin: 5px 0
}
.spill.spill-search-empty .top-section-container .search-term span {
    font-weight: 600
}
.spill.spill-search-empty .top-section-container .search-suggestions {
    height: 75px
}
.spill.spill-search-empty .top-section-container .search-suggestions label {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    display: block
}
.spill.spill-search-empty .top-section-container .search-suggestions ul li {
    font-size: 14px;
    line-height: 24px
}
.spill.spill-search-empty p {
    font: 14px/20px "Neue Helvetica W01",Helvetica,Arial,sans-serif
}
@media screen and (max-device-width: 768px) {
    .seo-spill-layout {
        padding:0;
        width: auto
    }

    .seo-spill-layout .page-title {
        padding: 1.143em 1em;
        font-weight: 300;
        font-size: 1.6em
    }

    .seo-spill-layout .spillContent {
        width: auto
    }

    .seo-spill-layout .seo-spill-description {
        padding-left: 12px;
        padding-right: 12px
    }

    .seo-spill-layout .product-info .favorites-text {
        display: none
    }

    .seo-spill-layout .swatch-collection-image+.product-info .button-add-to-favorites {
        top: -22px
    }

    .seo-spill-layout .product-miniset {
        width: 45%;
        height: auto!important
    }

    .seo-spill-layout .product-miniset .product-miniset-thumbnail {
        height: auto!important
    }

    .seo-spill-layout .product-miniset .product-miniset-thumbnail img {
        height: auto!important
    }

    .seo-spill-layout .product-miniset .swatch-collection-image {
        margin: .571em 0
    }

    .seo-spill-layout .product-miniset .product-info .product-miniset-title {
        width: 80%;
        font-family: "Neue Helvetica W01",Helvetica,Arial,sans-serif
    }

    .seo-spill-layout .product-miniset .product-info .button-secondary {
        width: 20%
    }
}
[class*='svg-icon-heart'] {
    height: 18px;
    width: 18px;
    stroke-width: 2;
    color: #1f74bf
}
[class*='svg-heart-outline'],[class*='svg-icon-heart-outline'] {
    height: 18px;
    width: 18px;
    stroke-width: 2;
    color: #999
}
.spill .product .product-thumb {
    display: block;
}
.alert, .field-validation-error, .validation-summary-errors li, .warning {
    color: #b00;
    font-size: 1.1em;
    line-height: 1.1em;
    margin: 0 0 1.5em;
    padding: 0;
    clear: both;
    background: none;
    border: none;
    display: block;
}
.spill .product .product-thumb img {
    display: block;
    margin: 0 auto;
  width: 100%;
}
.spill .product .product-info {
    text-align: left;
    line-height: 1.2em;
    display: inline-block;
    padding: 0;
    color: #222;
    position: relative;
  width: 100%;
}
.spill .alert {
    font-size: .9em;
    height: 1.2em;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.spill .product-info .button-add-to-favorites {
    border: 0;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
  width:18px;
  height: 18px;
  padding:0;
}
.button {
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 2px;
    margin: 0 0 10px;
    padding: 0 20px;
    font-family: "Neue Helvetica W01",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    position: relative;
    outline: 0;
    height: 18px;
    width: 18px;
    stroke-width: 2;
    color: #999;
    background:none;
    border:0;
    cursor: pointer;
}



.mobile-select-wrapper {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom:1;*display: inline;
    width: 100%;
    border-color: #999
}

.mobile-select-wrapper:after {

    width: 15px;
    padding: 8px;
    background: transparent;
    color: #1f74bf;
    font-weight: bold;
    position: absolute;
    right: 18px;
    top: 5px;
    z-index: 2
}

#svg-icon-chevron-up {
  width: 22px;
    stroke-width: 3;
    transform: scaleY(-1);
    position: absolute;
    right: 32px;
    color: #1f74bf;
}

.mobile-select-wrapper .mobile-select {
    height: 3em;
    padding: .6em .5em .6em 1em;
    color: #1f74bf;
    font-size: 1.1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: 1;
    width: calc(100% - 15px);
}

.mobile-select-wrapper select {
    background: #fff;
    background: linear-gradient(top,#fff 20%,#f7f7f7 100%);
    border-radius: 1px!important;
    font-weight: bold
}

@media screen and (min-width: 1px) {
    input[type="email"].input-email-xl,input[type="password"].input-password-xl,input[type="search"].input-search-xl,input[type="text"].input-text-xl,input[type="email"].input-xl,input[type="number"].input-xl,input[type="password"].input-xl,input[type="search"].input-xl,input[type="tel"].input-xl,input[type="text"].input-xl,input[type="url"].input-xl,input.input-email-xl,input.input-password-xl,input.input-search-xl,input.input-text-xl,input.input-xl {
        box-sizing:border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        padding: 5px 16px;
        font-size: 16px;
        line-height: normal;
        height: 48px
    }

    input[type="email"].input-email-xl:-moz-placeholder,input[type="password"].input-password-xl:-moz-placeholder,input[type="search"].input-search-xl:-moz-placeholder,input[type="text"].input-text-xl:-moz-placeholder,input[type="email"].input-xl:-moz-placeholder,input[type="number"].input-xl:-moz-placeholder,input[type="password"].input-xl:-moz-placeholder,input[type="search"].input-xl:-moz-placeholder,input[type="tel"].input-xl:-moz-placeholder,input[type="text"].input-xl:-moz-placeholder,input[type="url"].input-xl:-moz-placeholder,input.input-email-xl:-moz-placeholder,input.input-password-xl:-moz-placeholder,input.input-search-xl:-moz-placeholder,input.input-text-xl:-moz-placeholder,input.input-xl:-moz-placeholder {
        color: #000
    }

    input[type="email"].input-email-xl::-moz-placeholder,input[type="password"].input-password-xl::-moz-placeholder,input[type="search"].input-search-xl::-moz-placeholder,input[type="text"].input-text-xl::-moz-placeholder,input[type="email"].input-xl::-moz-placeholder,input[type="number"].input-xl::-moz-placeholder,input[type="password"].input-xl::-moz-placeholder,input[type="search"].input-xl::-moz-placeholder,input[type="tel"].input-xl::-moz-placeholder,input[type="text"].input-xl::-moz-placeholder,input[type="url"].input-xl::-moz-placeholder,input.input-email-xl::-moz-placeholder,input.input-password-xl::-moz-placeholder,input.input-search-xl::-moz-placeholder,input.input-text-xl::-moz-placeholder,input.input-xl::-moz-placeholder {
        color: #000
    }

    input[type="email"].input-email-xl:-ms-input-placeholder,input[type="password"].input-password-xl:-ms-input-placeholder,input[type="search"].input-search-xl:-ms-input-placeholder,input[type="text"].input-text-xl:-ms-input-placeholder,input[type="email"].input-xl:-ms-input-placeholder,input[type="number"].input-xl:-ms-input-placeholder,input[type="password"].input-xl:-ms-input-placeholder,input[type="search"].input-xl:-ms-input-placeholder,input[type="tel"].input-xl:-ms-input-placeholder,input[type="text"].input-xl:-ms-input-placeholder,input[type="url"].input-xl:-ms-input-placeholder,input.input-email-xl:-ms-input-placeholder,input.input-password-xl:-ms-input-placeholder,input.input-search-xl:-ms-input-placeholder,input.input-text-xl:-ms-input-placeholder,input.input-xl:-ms-input-placeholder {
        color: #000
    }

    input[type="email"].input-email-xl::-webkit-input-placeholder,input[type="password"].input-password-xl::-webkit-input-placeholder,input[type="search"].input-search-xl::-webkit-input-placeholder,input[type="text"].input-text-xl::-webkit-input-placeholder,input[type="email"].input-xl::-webkit-input-placeholder,input[type="number"].input-xl::-webkit-input-placeholder,input[type="password"].input-xl::-webkit-input-placeholder,input[type="search"].input-xl::-webkit-input-placeholder,input[type="tel"].input-xl::-webkit-input-placeholder,input[type="text"].input-xl::-webkit-input-placeholder,input[type="url"].input-xl::-webkit-input-placeholder,input.input-email-xl::-webkit-input-placeholder,input.input-password-xl::-webkit-input-placeholder,input.input-search-xl::-webkit-input-placeholder,input.input-text-xl::-webkit-input-placeholder,input.input-xl::-webkit-input-placeholder {
        color: #000
    }

    input[type="email"].input-email-xl.focus,input[type="email"].input-email-xl:focus,input[type="password"].input-password-xl.focus,input[type="password"].input-password-xl:focus,input[type="search"].input-search-xl.focus,input[type="search"].input-search-xl:focus,input[type="text"].input-text-xl.focus,input[type="text"].input-text-xl:focus,input[type="email"].input-xl.focus,input[type="email"].input-xl:focus,input[type="number"].input-xl.focus,input[type="number"].input-xl:focus,input[type="password"].input-xl.focus,input[type="password"].input-xl:focus,input[type="search"].input-xl.focus,input[type="search"].input-xl:focus,input[type="tel"].input-xl.focus,input[type="tel"].input-xl:focus,input[type="text"].input-xl.focus,input[type="text"].input-xl:focus,input[type="url"].input-xl.focus,input[type="url"].input-xl:focus,input.input-email-xl.focus,input.input-email-xl:focus,input.input-password-xl.focus,input.input-password-xl:focus,input.input-search-xl.focus,input.input-search-xl:focus,input.input-text-xl.focus,input.input-text-xl:focus,input.input-xl.focus,input.input-xl:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    input[type="email"].input-email-lg,input[type="password"].input-password-lg,input[type="search"].input-search-lg,input[type="text"].input-text-lg,input[type="email"].input-lg,input[type="number"].input-lg,input[type="password"].input-lg,input[type="search"].input-lg,input[type="tel"].input-lg,input[type="text"].input-lg,input[type="url"].input-lg,input.input-email-lg,input.input-password-lg,input.input-search-lg,input.input-text-lg,input.input-lg {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        padding: 5px 16px;
        font-size: 16px;
        line-height: normal;
        height: 40px
    }

    input[type="email"].input-email-lg:-moz-placeholder,input[type="password"].input-password-lg:-moz-placeholder,input[type="search"].input-search-lg:-moz-placeholder,input[type="text"].input-text-lg:-moz-placeholder,input[type="email"].input-lg:-moz-placeholder,input[type="number"].input-lg:-moz-placeholder,input[type="password"].input-lg:-moz-placeholder,input[type="search"].input-lg:-moz-placeholder,input[type="tel"].input-lg:-moz-placeholder,input[type="text"].input-lg:-moz-placeholder,input[type="url"].input-lg:-moz-placeholder,input.input-email-lg:-moz-placeholder,input.input-password-lg:-moz-placeholder,input.input-search-lg:-moz-placeholder,input.input-text-lg:-moz-placeholder,input.input-lg:-moz-placeholder {
        color: #000
    }

    input[type="email"].input-email-lg::-moz-placeholder,input[type="password"].input-password-lg::-moz-placeholder,input[type="search"].input-search-lg::-moz-placeholder,input[type="text"].input-text-lg::-moz-placeholder,input[type="email"].input-lg::-moz-placeholder,input[type="number"].input-lg::-moz-placeholder,input[type="password"].input-lg::-moz-placeholder,input[type="search"].input-lg::-moz-placeholder,input[type="tel"].input-lg::-moz-placeholder,input[type="text"].input-lg::-moz-placeholder,input[type="url"].input-lg::-moz-placeholder,input.input-email-lg::-moz-placeholder,input.input-password-lg::-moz-placeholder,input.input-search-lg::-moz-placeholder,input.input-text-lg::-moz-placeholder,input.input-lg::-moz-placeholder {
        color: #000
    }

    input[type="email"].input-email-lg:-ms-input-placeholder,input[type="password"].input-password-lg:-ms-input-placeholder,input[type="search"].input-search-lg:-ms-input-placeholder,input[type="text"].input-text-lg:-ms-input-placeholder,input[type="email"].input-lg:-ms-input-placeholder,input[type="number"].input-lg:-ms-input-placeholder,input[type="password"].input-lg:-ms-input-placeholder,input[type="search"].input-lg:-ms-input-placeholder,input[type="tel"].input-lg:-ms-input-placeholder,input[type="text"].input-lg:-ms-input-placeholder,input[type="url"].input-lg:-ms-input-placeholder,input.input-email-lg:-ms-input-placeholder,input.input-password-lg:-ms-input-placeholder,input.input-search-lg:-ms-input-placeholder,input.input-text-lg:-ms-input-placeholder,input.input-lg:-ms-input-placeholder {
        color: #000
    }

    input[type="email"].input-email-lg::-webkit-input-placeholder,input[type="password"].input-password-lg::-webkit-input-placeholder,input[type="search"].input-search-lg::-webkit-input-placeholder,input[type="text"].input-text-lg::-webkit-input-placeholder,input[type="email"].input-lg::-webkit-input-placeholder,input[type="number"].input-lg::-webkit-input-placeholder,input[type="password"].input-lg::-webkit-input-placeholder,input[type="search"].input-lg::-webkit-input-placeholder,input[type="tel"].input-lg::-webkit-input-placeholder,input[type="text"].input-lg::-webkit-input-placeholder,input[type="url"].input-lg::-webkit-input-placeholder,input.input-email-lg::-webkit-input-placeholder,input.input-password-lg::-webkit-input-placeholder,input.input-search-lg::-webkit-input-placeholder,input.input-text-lg::-webkit-input-placeholder,input.input-lg::-webkit-input-placeholder {
        color: #000
    }

    input[type="email"].input-email-lg.focus,input[type="email"].input-email-lg:focus,input[type="password"].input-password-lg.focus,input[type="password"].input-password-lg:focus,input[type="search"].input-search-lg.focus,input[type="search"].input-search-lg:focus,input[type="text"].input-text-lg.focus,input[type="text"].input-text-lg:focus,input[type="email"].input-lg.focus,input[type="email"].input-lg:focus,input[type="number"].input-lg.focus,input[type="number"].input-lg:focus,input[type="password"].input-lg.focus,input[type="password"].input-lg:focus,input[type="search"].input-lg.focus,input[type="search"].input-lg:focus,input[type="tel"].input-lg.focus,input[type="tel"].input-lg:focus,input[type="text"].input-lg.focus,input[type="text"].input-lg:focus,input[type="url"].input-lg.focus,input[type="url"].input-lg:focus,input.input-email-lg.focus,input.input-email-lg:focus,input.input-password-lg.focus,input.input-password-lg:focus,input.input-search-lg.focus,input.input-search-lg:focus,input.input-text-lg.focus,input.input-text-lg:focus,input.input-lg.focus,input.input-lg:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    input[type="email"].input-email-md,input[type="password"].input-password-md,input[type="search"].input-search-md,input[type="text"].input-text-md,input[type="email"].input-md,input[type="number"].input-md,input[type="password"].input-md,input[type="search"].input-md,input[type="tel"].input-md,input[type="text"].input-md,input[type="url"].input-md,input.input-email-md,input.input-password-md,input.input-search-md,input.input-text-md,input.input-md {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        padding: 5px 16px;
        font-size: 16px;
        line-height: normal;
        height: 40px
    }

    input[type="email"].input-email-md:-moz-placeholder,input[type="password"].input-password-md:-moz-placeholder,input[type="search"].input-search-md:-moz-placeholder,input[type="text"].input-text-md:-moz-placeholder,input[type="email"].input-md:-moz-placeholder,input[type="number"].input-md:-moz-placeholder,input[type="password"].input-md:-moz-placeholder,input[type="search"].input-md:-moz-placeholder,input[type="tel"].input-md:-moz-placeholder,input[type="text"].input-md:-moz-placeholder,input[type="url"].input-md:-moz-placeholder,input.input-email-md:-moz-placeholder,input.input-password-md:-moz-placeholder,input.input-search-md:-moz-placeholder,input.input-text-md:-moz-placeholder,input.input-md:-moz-placeholder {
        color: #000
    }

    input[type="email"].input-email-md::-moz-placeholder,input[type="password"].input-password-md::-moz-placeholder,input[type="search"].input-search-md::-moz-placeholder,input[type="text"].input-text-md::-moz-placeholder,input[type="email"].input-md::-moz-placeholder,input[type="number"].input-md::-moz-placeholder,input[type="password"].input-md::-moz-placeholder,input[type="search"].input-md::-moz-placeholder,input[type="tel"].input-md::-moz-placeholder,input[type="text"].input-md::-moz-placeholder,input[type="url"].input-md::-moz-placeholder,input.input-email-md::-moz-placeholder,input.input-password-md::-moz-placeholder,input.input-search-md::-moz-placeholder,input.input-text-md::-moz-placeholder,input.input-md::-moz-placeholder {
        color: #000
    }

    input[type="email"].input-email-md:-ms-input-placeholder,input[type="password"].input-password-md:-ms-input-placeholder,input[type="search"].input-search-md:-ms-input-placeholder,input[type="text"].input-text-md:-ms-input-placeholder,input[type="email"].input-md:-ms-input-placeholder,input[type="number"].input-md:-ms-input-placeholder,input[type="password"].input-md:-ms-input-placeholder,input[type="search"].input-md:-ms-input-placeholder,input[type="tel"].input-md:-ms-input-placeholder,input[type="text"].input-md:-ms-input-placeholder,input[type="url"].input-md:-ms-input-placeholder,input.input-email-md:-ms-input-placeholder,input.input-password-md:-ms-input-placeholder,input.input-search-md:-ms-input-placeholder,input.input-text-md:-ms-input-placeholder,input.input-md:-ms-input-placeholder {
        color: #000
    }

    input[type="email"].input-email-md::-webkit-input-placeholder,input[type="password"].input-password-md::-webkit-input-placeholder,input[type="search"].input-search-md::-webkit-input-placeholder,input[type="text"].input-text-md::-webkit-input-placeholder,input[type="email"].input-md::-webkit-input-placeholder,input[type="number"].input-md::-webkit-input-placeholder,input[type="password"].input-md::-webkit-input-placeholder,input[type="search"].input-md::-webkit-input-placeholder,input[type="tel"].input-md::-webkit-input-placeholder,input[type="text"].input-md::-webkit-input-placeholder,input[type="url"].input-md::-webkit-input-placeholder,input.input-email-md::-webkit-input-placeholder,input.input-password-md::-webkit-input-placeholder,input.input-search-md::-webkit-input-placeholder,input.input-text-md::-webkit-input-placeholder,input.input-md::-webkit-input-placeholder {
        color: #000
    }

    input[type="email"].input-email-md.focus,input[type="email"].input-email-md:focus,input[type="password"].input-password-md.focus,input[type="password"].input-password-md:focus,input[type="search"].input-search-md.focus,input[type="search"].input-search-md:focus,input[type="text"].input-text-md.focus,input[type="text"].input-text-md:focus,input[type="email"].input-md.focus,input[type="email"].input-md:focus,input[type="number"].input-md.focus,input[type="number"].input-md:focus,input[type="password"].input-md.focus,input[type="password"].input-md:focus,input[type="search"].input-md.focus,input[type="search"].input-md:focus,input[type="tel"].input-md.focus,input[type="tel"].input-md:focus,input[type="text"].input-md.focus,input[type="text"].input-md:focus,input[type="url"].input-md.focus,input[type="url"].input-md:focus,input.input-email-md.focus,input.input-email-md:focus,input.input-password-md.focus,input.input-password-md:focus,input.input-search-md.focus,input.input-search-md:focus,input.input-text-md.focus,input.input-text-md:focus,input.input-md.focus,input.input-md:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    input[type="email"].input-email-sm,input[type="password"].input-password-sm,input[type="search"].input-search-sm,input[type="text"].input-text-sm,input[type="email"].input-sm,input[type="number"].input-sm,input[type="password"].input-sm,input[type="search"].input-sm,input[type="tel"].input-sm,input[type="text"].input-sm,input[type="url"].input-sm,input.input-email-sm,input.input-password-sm,input.input-search-sm,input.input-text-sm,input.input-sm {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        padding: 5px 16px;
        font-size: 12px;
        line-height: normal;
        height: 26px
    }

    input[type="email"].input-email-sm:-moz-placeholder,input[type="password"].input-password-sm:-moz-placeholder,input[type="search"].input-search-sm:-moz-placeholder,input[type="text"].input-text-sm:-moz-placeholder,input[type="email"].input-sm:-moz-placeholder,input[type="number"].input-sm:-moz-placeholder,input[type="password"].input-sm:-moz-placeholder,input[type="search"].input-sm:-moz-placeholder,input[type="tel"].input-sm:-moz-placeholder,input[type="text"].input-sm:-moz-placeholder,input[type="url"].input-sm:-moz-placeholder,input.input-email-sm:-moz-placeholder,input.input-password-sm:-moz-placeholder,input.input-search-sm:-moz-placeholder,input.input-text-sm:-moz-placeholder,input.input-sm:-moz-placeholder {
        color: #000
    }

    input[type="email"].input-email-sm::-moz-placeholder,input[type="password"].input-password-sm::-moz-placeholder,input[type="search"].input-search-sm::-moz-placeholder,input[type="text"].input-text-sm::-moz-placeholder,input[type="email"].input-sm::-moz-placeholder,input[type="number"].input-sm::-moz-placeholder,input[type="password"].input-sm::-moz-placeholder,input[type="search"].input-sm::-moz-placeholder,input[type="tel"].input-sm::-moz-placeholder,input[type="text"].input-sm::-moz-placeholder,input[type="url"].input-sm::-moz-placeholder,input.input-email-sm::-moz-placeholder,input.input-password-sm::-moz-placeholder,input.input-search-sm::-moz-placeholder,input.input-text-sm::-moz-placeholder,input.input-sm::-moz-placeholder {
        color: #000
    }

    input[type="email"].input-email-sm:-ms-input-placeholder,input[type="password"].input-password-sm:-ms-input-placeholder,input[type="search"].input-search-sm:-ms-input-placeholder,input[type="text"].input-text-sm:-ms-input-placeholder,input[type="email"].input-sm:-ms-input-placeholder,input[type="number"].input-sm:-ms-input-placeholder,input[type="password"].input-sm:-ms-input-placeholder,input[type="search"].input-sm:-ms-input-placeholder,input[type="tel"].input-sm:-ms-input-placeholder,input[type="text"].input-sm:-ms-input-placeholder,input[type="url"].input-sm:-ms-input-placeholder,input.input-email-sm:-ms-input-placeholder,input.input-password-sm:-ms-input-placeholder,input.input-search-sm:-ms-input-placeholder,input.input-text-sm:-ms-input-placeholder,input.input-sm:-ms-input-placeholder {
        color: #000
    }

    input[type="email"].input-email-sm::-webkit-input-placeholder,input[type="password"].input-password-sm::-webkit-input-placeholder,input[type="search"].input-search-sm::-webkit-input-placeholder,input[type="text"].input-text-sm::-webkit-input-placeholder,input[type="email"].input-sm::-webkit-input-placeholder,input[type="number"].input-sm::-webkit-input-placeholder,input[type="password"].input-sm::-webkit-input-placeholder,input[type="search"].input-sm::-webkit-input-placeholder,input[type="tel"].input-sm::-webkit-input-placeholder,input[type="text"].input-sm::-webkit-input-placeholder,input[type="url"].input-sm::-webkit-input-placeholder,input.input-email-sm::-webkit-input-placeholder,input.input-password-sm::-webkit-input-placeholder,input.input-search-sm::-webkit-input-placeholder,input.input-text-sm::-webkit-input-placeholder,input.input-sm::-webkit-input-placeholder {
        color: #000
    }

    input[type="email"].input-email-sm.focus,input[type="email"].input-email-sm:focus,input[type="password"].input-password-sm.focus,input[type="password"].input-password-sm:focus,input[type="search"].input-search-sm.focus,input[type="search"].input-search-sm:focus,input[type="text"].input-text-sm.focus,input[type="text"].input-text-sm:focus,input[type="email"].input-sm.focus,input[type="email"].input-sm:focus,input[type="number"].input-sm.focus,input[type="number"].input-sm:focus,input[type="password"].input-sm.focus,input[type="password"].input-sm:focus,input[type="search"].input-sm.focus,input[type="search"].input-sm:focus,input[type="tel"].input-sm.focus,input[type="tel"].input-sm:focus,input[type="text"].input-sm.focus,input[type="text"].input-sm:focus,input[type="url"].input-sm.focus,input[type="url"].input-sm:focus,input.input-email-sm.focus,input.input-email-sm:focus,input.input-password-sm.focus,input.input-password-sm:focus,input.input-search-sm.focus,input.input-search-sm:focus,input.input-text-sm.focus,input.input-text-sm:focus,input.input-sm.focus,input.input-sm:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    input[type="email"].input-email-xs,input[type="password"].input-password-xs,input[type="search"].input-search-xs,input[type="text"].input-text-xs,input[type="email"].input-xs,input[type="number"].input-xs,input[type="password"].input-xs,input[type="search"].input-xs,input[type="tel"].input-xs,input[type="text"].input-xs,input[type="url"].input-xs,input.input-email-xs,input.input-password-xs,input.input-search-xs,input.input-text-xs,input.input-xs {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        padding: 5px 16px;
        font-size: 12px;
        line-height: normal;
        height: 26px
    }

    input[type="email"].input-email-xs:-moz-placeholder,input[type="password"].input-password-xs:-moz-placeholder,input[type="search"].input-search-xs:-moz-placeholder,input[type="text"].input-text-xs:-moz-placeholder,input[type="email"].input-xs:-moz-placeholder,input[type="number"].input-xs:-moz-placeholder,input[type="password"].input-xs:-moz-placeholder,input[type="search"].input-xs:-moz-placeholder,input[type="tel"].input-xs:-moz-placeholder,input[type="text"].input-xs:-moz-placeholder,input[type="url"].input-xs:-moz-placeholder,input.input-email-xs:-moz-placeholder,input.input-password-xs:-moz-placeholder,input.input-search-xs:-moz-placeholder,input.input-text-xs:-moz-placeholder,input.input-xs:-moz-placeholder {
        color: #000
    }

    input[type="email"].input-email-xs::-moz-placeholder,input[type="password"].input-password-xs::-moz-placeholder,input[type="search"].input-search-xs::-moz-placeholder,input[type="text"].input-text-xs::-moz-placeholder,input[type="email"].input-xs::-moz-placeholder,input[type="number"].input-xs::-moz-placeholder,input[type="password"].input-xs::-moz-placeholder,input[type="search"].input-xs::-moz-placeholder,input[type="tel"].input-xs::-moz-placeholder,input[type="text"].input-xs::-moz-placeholder,input[type="url"].input-xs::-moz-placeholder,input.input-email-xs::-moz-placeholder,input.input-password-xs::-moz-placeholder,input.input-search-xs::-moz-placeholder,input.input-text-xs::-moz-placeholder,input.input-xs::-moz-placeholder {
        color: #000
    }

    input[type="email"].input-email-xs:-ms-input-placeholder,input[type="password"].input-password-xs:-ms-input-placeholder,input[type="search"].input-search-xs:-ms-input-placeholder,input[type="text"].input-text-xs:-ms-input-placeholder,input[type="email"].input-xs:-ms-input-placeholder,input[type="number"].input-xs:-ms-input-placeholder,input[type="password"].input-xs:-ms-input-placeholder,input[type="search"].input-xs:-ms-input-placeholder,input[type="tel"].input-xs:-ms-input-placeholder,input[type="text"].input-xs:-ms-input-placeholder,input[type="url"].input-xs:-ms-input-placeholder,input.input-email-xs:-ms-input-placeholder,input.input-password-xs:-ms-input-placeholder,input.input-search-xs:-ms-input-placeholder,input.input-text-xs:-ms-input-placeholder,input.input-xs:-ms-input-placeholder {
        color: #000
    }

    input[type="email"].input-email-xs::-webkit-input-placeholder,input[type="password"].input-password-xs::-webkit-input-placeholder,input[type="search"].input-search-xs::-webkit-input-placeholder,input[type="text"].input-text-xs::-webkit-input-placeholder,input[type="email"].input-xs::-webkit-input-placeholder,input[type="number"].input-xs::-webkit-input-placeholder,input[type="password"].input-xs::-webkit-input-placeholder,input[type="search"].input-xs::-webkit-input-placeholder,input[type="tel"].input-xs::-webkit-input-placeholder,input[type="text"].input-xs::-webkit-input-placeholder,input[type="url"].input-xs::-webkit-input-placeholder,input.input-email-xs::-webkit-input-placeholder,input.input-password-xs::-webkit-input-placeholder,input.input-search-xs::-webkit-input-placeholder,input.input-text-xs::-webkit-input-placeholder,input.input-xs::-webkit-input-placeholder {
        color: #000
    }

    input[type="email"].input-email-xs.focus,input[type="email"].input-email-xs:focus,input[type="password"].input-password-xs.focus,input[type="password"].input-password-xs:focus,input[type="search"].input-search-xs.focus,input[type="search"].input-search-xs:focus,input[type="text"].input-text-xs.focus,input[type="text"].input-text-xs:focus,input[type="email"].input-xs.focus,input[type="email"].input-xs:focus,input[type="number"].input-xs.focus,input[type="number"].input-xs:focus,input[type="password"].input-xs.focus,input[type="password"].input-xs:focus,input[type="search"].input-xs.focus,input[type="search"].input-xs:focus,input[type="tel"].input-xs.focus,input[type="tel"].input-xs:focus,input[type="text"].input-xs.focus,input[type="text"].input-xs:focus,input[type="url"].input-xs.focus,input[type="url"].input-xs:focus,input.input-email-xs.focus,input.input-email-xs:focus,input.input-password-xs.focus,input.input-password-xs:focus,input.input-search-xs.focus,input.input-search-xs:focus,input.input-text-xs.focus,input.input-text-xs:focus,input.input-xs.focus,input.input-xs:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    input[type="text"].field-qty,input[type="number"].field-qty,input.field-qty {
        width: 50px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        appearance: textfield
    }

    input[type="text"].field-qty::-webkit-inner-spin-button,input[type="text"].field-qty::-webkit-outer-spin-button,input[type="number"].field-qty::-webkit-inner-spin-button,input[type="number"].field-qty::-webkit-outer-spin-button,input.field-qty::-webkit-inner-spin-button,input.field-qty::-webkit-outer-spin-button {
        -webkit-appearance: none
    }

    input[type="text"].field-qty.input-xl,input[type="number"].field-qty.input-xl,input.field-qty.input-xl {
        width: 48px;
        height: 48px
    }

    input[type="text"].field-qty.input-lg,input[type="number"].field-qty.input-lg,input.field-qty.input-lg {
        width: 40px;
        height: 40px
    }

    input[type="text"].field-qty.input-md,input[type="number"].field-qty.input-md,input.field-qty.input-md {
        width: 40px;
        height: 40px
    }

    input[type="text"].field-qty.input-sm,input[type="number"].field-qty.input-sm,input.field-qty.input-sm {
        width: 26px;
        height: 26px
    }

    input[type="text"].field-qty.input-xs,input[type="number"].field-qty.input-xs,input.field-qty.input-xs {
        width: 26px;
        height: 26px
    }

    select.select-xl {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="#222" stroke-width="2.8" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="miter" d="M2.667 9.333l13.333 13.333 13.333-13.333"></path></svg>');
        background-repeat: no-repeat;
        background-position: calc(100% - 16px) center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 5px 16px;
        padding-right: 50px;
        font-size: 16px;
        line-height: normal;
        height: 48px;
        background-size: 17px 17px
    }

    select.select-xl:-moz-placeholder {
        color: #000
    }

    select.select-xl::-moz-placeholder {
        color: #000
    }

    select.select-xl:-ms-input-placeholder {
        color: #000
    }

    select.select-xl::-webkit-input-placeholder {
        color: #000
    }

    select.select-xl.focus,select.select-xl:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    select.select-xl::-ms-expand {
        display: none
    }

    select.select-xl.input-validation-error {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="#b00" stroke-width="2.8" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="miter" d="M2.667 9.333l13.333 13.333 13.333-13.333"></path></svg>')
    }

    select.select-lg {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="#222" stroke-width="2.8" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="miter" d="M2.667 9.333l13.333 13.333 13.333-13.333"></path></svg>');
        background-repeat: no-repeat;
        background-position: calc(100% - 16px) center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 5px 16px;
        padding-right: 48px;
        font-size: 16px;
        line-height: normal;
        height: 40px;
        background-size: 17px 17px
    }

    select.select-lg:-moz-placeholder {
        color: #000
    }

    select.select-lg::-moz-placeholder {
        color: #000
    }

    select.select-lg:-ms-input-placeholder {
        color: #000
    }

    select.select-lg::-webkit-input-placeholder {
        color: #000
    }

    select.select-lg.focus,select.select-lg:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    select.select-lg::-ms-expand {
        display: none
    }

    select.select-lg.input-validation-error {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="#b00" stroke-width="2.8" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="miter" d="M2.667 9.333l13.333 13.333 13.333-13.333"></path></svg>')
    }

    select.select-md {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="#222" stroke-width="2.8" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="miter" d="M2.667 9.333l13.333 13.333 13.333-13.333"></path></svg>');
        background-repeat: no-repeat;
        background-position: calc(100% - 16px) center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 5px 16px;
        padding-right: 48px;
        font-size: 16px;
        line-height: normal;
        height: 40px;
        background-size: 17px 17px
    }

    select.select-md:-moz-placeholder {
        color: #000
    }

    select.select-md::-moz-placeholder {
        color: #000
    }

    select.select-md:-ms-input-placeholder {
        color: #000
    }

    select.select-md::-webkit-input-placeholder {
        color: #000
    }

    select.select-md.focus,select.select-md:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    select.select-md::-ms-expand {
        display: none
    }

    select.select-md.input-validation-error {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="#b00" stroke-width="2.8" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="miter" d="M2.667 9.333l13.333 13.333 13.333-13.333"></path></svg>')
    }

    select.select-sm {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="#222" stroke-width="2.8" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="miter" d="M2.667 9.333l13.333 13.333 13.333-13.333"></path></svg>');
        background-repeat: no-repeat;
        background-position: calc(100% - 16px) center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 5px 16px;
        padding-right: 42px;
        font-size: 12px;
        line-height: normal;
        height: 26px;
        background-size: 15px 15px
    }

    select.select-sm:-moz-placeholder {
        color: #000
    }

    select.select-sm::-moz-placeholder {
        color: #000
    }

    select.select-sm:-ms-input-placeholder {
        color: #000
    }

    select.select-sm::-webkit-input-placeholder {
        color: #000
    }

    select.select-sm.focus,select.select-sm:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    select.select-sm::-ms-expand {
        display: none
    }

    select.select-sm.input-validation-error {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="#b00" stroke-width="2.8" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="miter" d="M2.667 9.333l13.333 13.333 13.333-13.333"></path></svg>')
    }

    select.select-xs {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="#222" stroke-width="2.8" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="miter" d="M2.667 9.333l13.333 13.333 13.333-13.333"></path></svg>');
        background-repeat: no-repeat;
        background-position: calc(100% - 16px) center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 5px 16px;
        padding-right: 42px;
        font-size: 12px;
        line-height: normal;
        height: 26px;
        background-size: 15px 15px
    }

    select.select-xs:-moz-placeholder {
        color: #000
    }

    select.select-xs::-moz-placeholder {
        color: #000
    }

    select.select-xs:-ms-input-placeholder {
        color: #000
    }

    select.select-xs::-webkit-input-placeholder {
        color: #000
    }

    select.select-xs.focus,select.select-xs:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    select.select-xs::-ms-expand {
        display: none
    }

    select.select-xs.input-validation-error {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="#b00" stroke-width="2.8" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="miter" d="M2.667 9.333l13.333 13.333 13.333-13.333"></path></svg>')
    }

    textarea.textarea-xl {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        padding: 16px;
        font-size: 16px
    }

    textarea.textarea-xl:-moz-placeholder {
        color: #000
    }

    textarea.textarea-xl::-moz-placeholder {
        color: #000
    }

    textarea.textarea-xl:-ms-input-placeholder {
        color: #000
    }

    textarea.textarea-xl::-webkit-input-placeholder {
        color: #000
    }

    textarea.textarea-xl.focus,textarea.textarea-xl:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    textarea.textarea-lg {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        padding: 16px;
        font-size: 16px
    }

    textarea.textarea-lg:-moz-placeholder {
        color: #000
    }

    textarea.textarea-lg::-moz-placeholder {
        color: #000
    }

    textarea.textarea-lg:-ms-input-placeholder {
        color: #000
    }

    textarea.textarea-lg::-webkit-input-placeholder {
        color: #000
    }

    textarea.textarea-lg.focus,textarea.textarea-lg:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    textarea.textarea-md {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        padding: 16px;
        font-size: 16px
    }

    textarea.textarea-md:-moz-placeholder {
        color: #000
    }

    textarea.textarea-md::-moz-placeholder {
        color: #000
    }

    textarea.textarea-md:-ms-input-placeholder {
        color: #000
    }

    textarea.textarea-md::-webkit-input-placeholder {
        color: #000
    }

    textarea.textarea-md.focus,textarea.textarea-md:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    textarea.textarea-sm {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        padding: 16px;
        font-size: 12px
    }

    textarea.textarea-sm:-moz-placeholder {
        color: #000
    }

    textarea.textarea-sm::-moz-placeholder {
        color: #000
    }

    textarea.textarea-sm:-ms-input-placeholder {
        color: #000
    }

    textarea.textarea-sm::-webkit-input-placeholder {
        color: #000
    }

    textarea.textarea-sm.focus,textarea.textarea-sm:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }

    textarea.textarea-xs {
        box-sizing: border-box;
        display: inline-block;
        border: solid 1px #666;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        position: relative;
        outline: 0;
        vertical-align: top;
        background-color: #fff;
        color: #222;
        font-style: normal;
        font-weight: normal;
        font-family: Helvetica,Arial,sans-serif;
        transition: border linear .2s,box-shadow linear .2s;
        padding: 16px;
        font-size: 12px
    }

    textarea.textarea-xs:-moz-placeholder {
        color: #000
    }

    textarea.textarea-xs::-moz-placeholder {
        color: #000
    }

    textarea.textarea-xs:-ms-input-placeholder {
        color: #000
    }

    textarea.textarea-xs::-webkit-input-placeholder {
        color: #000
    }

    textarea.textarea-xs.focus,textarea.textarea-xs:focus {
        border-color: #666;
        box-shadow: 0 0 0 1px #fff inset,0 0 0 2px #666 inset
    }
}
